/* I have decided to use one single stylesheet for all pages, because the design is very similar on all pages.
    I chose to rather override generic rules for specific pages than to have multiple stylesheets with many
    lines of duplicate code. This makes the stylesheet look a little more complex, but changes are easier
    to make for they have only to be updated in one/very few lines. */

/* ----- general ----- */
html{
    font-size: 100%;
}

body {
    text-align: center;
    color: #0582ba;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: 0;
}
#logo {
    width: 10%;
}
/* media query for smaller screens (mobile phone); max-width adjustable! */
@media (max-width: 768px){
    #logo{
        width: 20%;
    }
}

nav, footer {
    background-color: #0582ba;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
}
footer {
    margin-top: 0;
}
footer hr {
    color: white;
}
.menu { /* in nav and footer */
    list-style-type: none; /* Remove default bullets */
    display: flex; /* display in row */
    justify-content: space-around; /* Space items equally */
    padding: 10px 0;
    margin: 0; /* Remove default margin */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.menu li {
    flex: 1; /* Distribute space between elements equally */
}

.menu li a {
    display: block; /* Make the link fill the list item */
    color: white;
    padding: 14px 20px;
    text-decoration: none; /* Remove underline */
}

@media (max-width: 768px) {
    .menu {
        flex-direction: column; /* Stack items vertically on smaller screens */
    }

    .menu li a {
        padding: 10px; /* Adjust padding for smaller screens */
    }
}

nav li a:hover, nav li a.current, footer li a:hover, footer li a.current {
    color: #222222;
}

h1 {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: #0582ba;
}
img {
    padding:10px;
    width: 90%;
    max-width: 450px; /* for PC */
}

img.social-icon {
    width: 1.7em;
    height: 1.7em;
    padding: 3%;
}
img.social-icon:hover {
    transform: scale(1.1);
}


/* ----- index.html ----- */
#auftragskunst {
    padding: 10px;
    background-color: #0582ba;
    color: #ffffff;
}
#mehr_erfahren {
    padding: 10px;
    background-color: white;
    font-weight: bold;
}

.rezensionen {
    background-color: #d1eefc;
    padding: 2%;
}
.rezensionen .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 0%;
}
.rezensionen p {
    font-size: 120%;
    padding: 0% 2%;
}
.rezensionen img { /* images should have dimensions 600(w)x700(h)*/
    width: 130%;
}
/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {    
    .rezensionen img {
        max-width: 90%;
    }
    .rezensionen .container {
        flex-direction: column;
    }

    .rezensionen p {
        margin-top: 10px;
        padding: 5%;
        font-size: 95%;
    }
    /* switch position of text and img on mobile */
    .rezensionen .tausch .text {
        order: 2;
    }
    .rezensionen .tausch .bild {
        order: 1;
    }
}

/* SLIDESHOW */
/* Slideshow container */
.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(150,150,150,0.8);
}

/* Position the "previous button" to the left */
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
} */

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
/* END SLIDESHOW */


#picture_preview {
    padding: 10px; 
}


/* ----- galerie.html ----- */
.galerie {
    color: black;
}

.collection {
    text-decoration: underline;
    padding-top: 30px;
}
.collection#meer {
    color:#0582ba;
}
.collection#fruehling {
    color:#FF1493;
}

.item {
    padding: 50px 0px;    
}

a.anfrage {
    padding: 7px 10px;
    border: 2px outset;
    border-radius: 5px; /* for rounded outline */
    color: black;
    border-color: black;
    font-weight: 500;
}
a.anfrage.meer {
    color: #0582ba;
    border-color: #0582ba;
}
a.anfrage.fruehling { /* elements who are links AND class anfrage AND fruehling; if space between the classes: means all elements of class 1 who have a child of class 2!*/
    color: #FF1493;
    border-color: #FF1493;
}

footer#f_galerie { /* dye dynamically to color of last collection */
    background-color: #FF1493;
}


/* ----- personal.html ----- */
.personal .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal .container p {
    color: black;
    font-size: 120%;
    padding: 2%;
}
.personal img {
    width: 300%;
    max-width: 400px;
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {    
    .personal .container {
        flex-direction: column;
    }

    .personal p {
        margin-top: 10px;
        padding: 5%;
        font-size: 95%;
    }
    /* switch position of text and img on mobile */
    .tausch .text {
        order: 2;
    }
    .tausch .bild {
        order: 1;
    }
}


/* ----- auftragskunst.html ----- */
#mail {
    text-decoration: underline;
    font-weight: bold;
}
.auftragskunst p {
    color: black;
}


/* ----- rechtliches ----- */
.rechtliches {
    color: black;
    text-align: left;
}

/* Media Query für kleinere Bildschirme */
@media (max-width: 768px) {
    .w_formular {
        padding: 5% 0;
    }
}
